EURI_API_KEY=euri-9aa097466e85beb1ee89ee9f568724ffa35066254421bd3ac7c369d9476f3190
EURI_BASE_URL=https://api.euron.one/api/v1/euri
EURI_VLM_MODEL=gemini-2.5-flash
OCR_LANGUAGES=eng
PADDLE_OCR_LANG=en
TESSERACT_CMD=tesseract
